body {
  background-color: #f6f6f6;
}

/* Estilos para el encabezado */
.header {
  background-color: #34495e;
  text-align: center;
  padding: 20px;
  color: #fff;
}

/* Estilos para el contenido principal */
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ecf0f1;
  padding: 20px;
}

.unit {
  width: 250px;
  background-color: #fafafa;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}

.unit h2 {
  color: #34495e;
}

.week-list {
  list-style: none;
  padding: 0;
}

.week {
  color: #34495e;
  cursor: pointer;
}

.week:hover {
  text-decoration: underline;
}

.week-box {
  display: flex;
}

.week {
  margin: 5px;
  padding: 10px;
  background-color: #eaeff2;
  border-radius: 5px;
  transition: transform 0.2s ease;
}

.week:hover {
  transform: scale(1.1);
}
